<div class="line"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/images/isotipo.png">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/carta']" routerLinkActive="active-link">Carta</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/promociones']" routerLinkActive="active-link">Promociones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sushibox']" routerLinkActive="active-link">Sushibox</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">      
    </form>
  </div>
</nav>
