@import "../../../../node_modules/bootstrap/scss/bootstrap"
@import "../../../colors.sass"
@import "../../../responsive.sass"

.line
    width: 100%
    height: 0.5rem
    background-color: $light-brown

.navbar
    background-color: white !important
    margin: 0
    font-family: Myriad
    display: flex
    flex-direction: row
    align-items: center;
    justify-content: center !important
    align-content: center
    padding: 0;
    @include mobile
        display: none
    .logo
        padding-left: 6rem        
        img
            width: 5rem
            height: 5rem
    .menu
      display: flex
      flex-direction: column
      align-items: center
      padding-right: 5%
      .navbar-nav
          display: flex
          justify-content: center
          font-size: 1.2rem
          font-family: Myriad
          text-transform: uppercase
          margin: 0rem !important
          margin-left: -6rem !important
          li > a
              color: $light-black
              padding: 1rem
              margin-right: 0.8rem
          li > a:hover
              background-color: $light-black
              color: #fff

    .search-form
        margin: 0rem !important
        padding-top: 1.5rem
        align-self: flex-end
        button
            background-color: #eee
            color: #000
            border: 1px solid $light-black
            border-radius: 10px
            height: 2.2rem
            width: auto
        input
            background-color: #eee
            color: #fff
            border: 1px solid $light-black
            border-radius: 10px
            height: 2.2rem
            width: auto

.separator
    width: 80%;
    height: 3px;
    background-color: $dark-gray;
    position: relative;
    left: 10%
    margin-top: 1rem
    .circle1, .circle2
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        background-color: white;
        border: solid 3px $dark-gray;
        border-radius: 50%;
        position: absolute;
        top: -3.5px;
        left: calc(0% - 18px);
    .circle1
        left: calc(0% - 18px);
    .circle2
        left: calc(100% + 8px);

.active-link
    background-color: $light-black
    color: #ffffff !important
