<div class="line"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo">
      <a href=""><img src="/assets/images/isotipo.png"></a>
  </div>
  <div class="menu collapse navbar-collapse" id="navbarSupportedContent">
    <form class="search-form form-inline mb-3">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Conocénos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Carta</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Promociones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Tips</a>
      </li>
    </ul>    
  </div>
</nav>
