@import "../../colors.sass"
@import "../../responsive.sass"

.wrapper
    font-family: Helvetica

    ngx-carousel
        .button
            visibility: hidden

    ngx-tile
        img
            background-color: #ccc
            height: 36rem
            width: 100%
            text-align: center
            line-height: 300px
            @include laptop
                height: auto
            @include mobile
                height: 15rem
    .h1
        background-color: $light-black
        color: white
        margin-bottom: 0rem
        text-align: center
        padding-top: 5px;
        h1
            margin: 0
            padding: 1rem 0rem
            font-size: 2rem
            @include laptop
                font-size: 1.5rem
            @include mobile
                font-size: 1.5rem
                padding: 4rem 0rem 4.1rem 0rem
        .line1
            width: 100%;
            height: 0.2rem;
            border-top: 1px solid $light-brown;
            border-bottom: 1px dashed $light-brown;
        .line2
            width: 100%
            height: 0.5rem
            background-color: $light-brown
    .suggestions
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        margin-top: 2.5rem
        .line
            height: 0.25rem
            background-color: $light-brown
            width: 25rem
        img
            width: 100%
            height: auto
        h3
            color: $light-brown
            margin: 0px 1rem
            font-size: 1.5rem
    .map
        background-color: $dark-blue

        .header
            text-align: center
            color: white
            font-size: 1.5rem
            padding: 1rem 0rem
            h3
                margin: 0px
                font-weight: normal
        .content
            display: flex
            flex-direction: column
            iframe
                @include laptop
                    height: 300
            .sections
                display: flex
                flex-direction: row
                color: white
                line-height: 0.5
                font-size: 1.5rem
                @include laptop
                    font-size: 1.2rem
                @include mobile
                    font-size: 1rem
                    flex-direction: column
                h4
                    font-weight: normal
                    @include laptop
                        font-size: 1.3rem
                    @include mobile
                        font-size: 1.2rem
                .social
                    display: flex
                    flex-direction: column
                    margin-top: 4rem
                    margin-left: 6rem
                    @include laptop
                        margin-left: 2rem
                    @include mobile
                        margin-left: 0rem
                        margin-top: 2rem
                    .logos
                        display: flex
                        flex-direction: row
                        .image
                            margin-left: 1rem
                            margin-top: 1rem
                            img
                                width: 4rem
                                height: auto
                                @include mobile
                                    width: 2rem
                    .rights
                        display: flex
                        flex-direction: column
                        margin-top: 2rem
                        margin-left: 1rem
                        p
                            margin-top: 0px

                .contact
                    margin-left: 16rem
                    @include laptop
                        margin-left: 8rem
                    @include mobile
                        margin-left: 1rem
                    .item
                        .icon
                            display: inline-block
                        .text
                            display: inline-block
                            margin-top: -1.7rem
                    .item1
                        margin-left: -4px
                    .item2
                        margin-left: 4px

                .time
                    margin-left: 18rem
                    @include laptop
                        margin-left: 8rem
                    @include mobile
                        margin-left: 1rem
                .brand
                    margin-top: 6rem
                    margin-left: 12rem
                    @include laptop
                        margin-top: 3.7rem
                        margin-left: 10rem
                    @include mobile
                        position: absolute
                        margin-top: 25rem
                        margin-left: 16rem
                    img
                        height: 10rem
                        width: auto
